@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Quicksand&family=Ubuntu:ital,wght@0,400;1,700&display=swap");
@import url(../navbar.css);

* {
  /* outline: 1px solid red; */
}

/* search box */
.search {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.search-box {
  display: flex;
  position: relative;
  width: 600px;
  background: #fff;
  border-radius: 5px;
  height: 65px;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
  margin: 0 50px 0 50px;
}

.input {
  width: 100%;
  border: 2px solid white;
  font-size: 1rem;
  padding: 0 38px 0 20px;
  color: #6f768d;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  outline: none;
}

.input:focus {
  border-color: #5078ef;
}

.search_icon {
  position: absolute;
  align-self: center;
  font-size: 30px;
  color: #5078ef;
  cursor: pointer;
  right: 20px;
  padding: 5px;
}

/* gallery slider */
.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.gallery_title {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 2px;
}

.gallery_icon {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
  z-index: 0;
}

.gallery-image:hover {
  transform: scale(1.15);
}

.slide-content {
  margin-right: 40px;
  overflow: hidden;
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  opacity: 1;
}
.swiper-pagination-bullet {
  background-color: #6e93f7;
}

@media screen and (max-width: 650px) {
  .gallery-image:hover {
    transform: scale(1);
  }

  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}
